html, body {
    height: 100vh;
}

body {
	background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand {
	color: #D7CFCC;
	font-size: 1.5rem;
}

.navbar-brand:hover {
	color: white;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 5rem;
	color: #f2efef;
	text-shadow: 0.5px 0.5px #14090f;
}

body {
	font-family: 'Roboto Slab', serif;
	color: white;
}

#logout-btn {
	background-color: #D23A2F;
	color: white;
}

#logout-btn:hover {
	background-color: #ff2121;
}

label {
	text-shadow: 0.5px 0.5px #14090f;
}