<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="../static/img/favicon.ico">

  <title>BooksDB | Search & review books.</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-transparent">
      <a class="navbar-brand" href="{{ url_for('index') }}">📚<strong> BOOKSDB</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">
            <button type="button" class="btn" role="button" id="login-btn">Log In <i class="fas fa-sign-in-alt"></i></button>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container h-100 d-flex flex-column">
      <div class="jumbotron bg-transparent my-auto">
        <h1 class="mb-4">Hello, bibliophiles! 😎</h1>
        <p class="lead">Search information about your favorite reads. Browse books by author, title, or ISBN. <br> Write review for books that interest you and see how other people rated them.</p>
        <hr class="my-4">
        <p>It's quite easy to get started, just click the button below to register for free.</p>
        <a href="{{ url_for('register') }}">
          <button type="button" class="btn btn-lg" id="signup-btn"><i class="fas fa-user-plus"></i> Sign Up</button>
        </a>
      </div>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>