{% extends "layout.html" %}

{% block css_link %}
  ../static/css/front.css
{% endblock %}

{% block title %}
  Register
{% endblock %}

{% block home_redirect %}
  {{ url_for("index") }}
{% endblock %}

{% block main %}
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <form method="post" class="ml-2 mr-2 mt-0">
        <h1 class="text-center mb-4">Join BooksDB!</h1>
        {% if get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="text-center"> {{ get_flashed_messages()[0] }} </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <div class="form-group row">
          <label for="username">Username:</label>
          <input type="name" class="form-control" name="username" placeholder="username (letters & numbers only)" minlength="6" maxlength="12" pattern="[A-Za-z0-9]+" required>
        </div>
        <div class="form-group row">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" placeholder="password (min. 8 characters)" minlength="8" required>
        </div>
        <div class="form-group row">
          <label for="retype password">Retype Password:</label>
          <input type="password" class="form-control" name="password_check" placeholder="retype password" required>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}