<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/search.css">
  
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">


  <title>BooksDB | Search</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-transparent">
      <a class="navbar-brand" href="{{ url_for('index') }}">📚<strong> BOOKSDB</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">
            <button type="button" class="btn" role="button" id="logout-btn">Log Out <i class="fas fa-sign-out-alt"></i></button>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <form method="get" class="ml-2 mr-2 mt-0">
          <h1 class="text-center mb-4">Let's find your book!</h1>
          <div class="form-group">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="inlineRadio1" value="author" required>
              <label class="form-check-label font-weight-bold" for="inlineRadio1">Author</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="inlineRadio2" value="title" required>
              <label class="form-check-label font-weight-bold" for="inlineRadio2">Title</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="inlineRadio3" value="isbn" required>
              <label class="form-check-label font-weight-bold" for="inlineRadio3">ISBN</label>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white" id="basic-addon1"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search books by category" aria-label="search" aria-describedby="basic-addon1" required>
            </div>
          </div>
        </form>  
      </div>
    </div>
    
    

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>