{% extends "layout.html" %}

{% block css_link %}
  ../static/css/inner.css
{% endblock %}

{% block title %}
  Search
{% endblock %}

{% block home_redirect %}
  {{ url_for("search") }}
{% endblock %}

{% block main %}
  <div class="container h-100 text-light">
    <div class="row h-100 justify-content-center align-items-center">
      <form method="GET" class="ml-2 mr-2 mt-0">
        <h1 class="text-center mb-4">Let's find your book!</h1>
        <div class="form-group mt-4">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio1" value="author" required>
            <label class="form-check-label font-weight-bold" for="inlineRadio1">Author</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio2" value="title" required>
            <label class="form-check-label font-weight-bold" for="inlineRadio2">Title</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="category" id="inlineRadio3" value="isbn" required>
            <label class="form-check-label font-weight-bold" for="inlineRadio3">ISBN</label>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search books by category" aria-label="Search books by category" aria-describedby="button-addon2" name="q" required>
            <div class="input-group-append">
              <button class="btn btn-light" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>          
        {% if get_flashed_messages() %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
               {{ get_flashed_messages()[0] }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endif %}
        {% if books|length %}
        <h3 class="mb-0">Search found {{ number }} result(s):</h3>
        <p>Click on a book title to be taken to its page.</p>
          {% for book in books %}
            <div class="list-group">
              <a href="{{ url_for('book', book_id=book.id) }}" class="list-group-item list-group-item-action mb-1">
              <div class="row">                
                <div class="col-sm-1">
                  <img class="mr-4" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg"/>
                </div>
                <div class="col-sm-11">
                  <h3 class="text-primary">{{ book.title }} ({{ book.year }})</h2>
                  <p class="text-info"><strong>{{ book.author }}</strong>
                  <span class="text-secondary"><strong><span class="text-warning"><strong>|<strong></span> ISBN</strong>: {{ book.isbn }}</span></p>                
                </div>
              </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </form> 
    </div>
  </div>
{% endblock %}